body{
    background-image: url(https://media.istockphoto.com/vectors/vector-realistic-isolated-neon-sign-of-electricity-frame-logo-for-vector-id1047175234?k=20&m=1047175234&s=612x612&w=0&h=0G-G4TTf2DQ2wtPpR6v_frwmtlREH8Lh7-K8ELoDDF4=)  no-repeat;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
table{
 
    width: 100%;
    height: 80vh;
    border-radius: 109px;
}
 
button{
    margin-top: 30px;
    width: 70px;
    height: auto;
    background-color: rgb(250, 203, 186);
border-radius: 9px;
}
td{
    margin-left: 5px;
    margin-right: 5px;
}